.u-section-1 {
  min-height: 608px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 30px auto 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 578px;
}

.u-section-1 .u-container-layout-1 {
  padding: 3px 0 30px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 0 -211px 0 30px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 30px 96px 0 30px;
}

.u-section-1 .u-text-3 {
  margin: 45px 96px 0 30px;
}

.u-section-1 .u-image-1 {
  min-height: 578px;
  background-image: url("images/pexels-photo-5672483.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 500px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 477px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 46px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 46px;
  }

  .u-section-1 .u-image-1 {
    min-height: 477px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 383px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 365px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 287px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-text-1 {
    margin-right: 280px;
  }

  .u-section-1 .u-image-1 {
    min-height: 456px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 181px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-text-1 {
    margin-right: 80px;
  }

  .u-section-1 .u-image-1 {
    min-height: 287px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 824px;
}

.u-section-2 .u-gallery-1 {
  height: 561px;
  width: 706px;
  margin: 122px 0 0 auto;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(2, auto);
  grid-gap: 10px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: -624px 799px 0 -45px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 30px 791px 0 -45px;
}

.u-section-2 .u-text-3 {
  margin-left: -45px;
  margin-right: 791px;
  margin-bottom: 0;
}

.u-section-2 .u-text-4 {
  margin: 61px 765px 60px -19px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 699px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 591px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 591px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 665px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2507px;
  }

  .u-section-2 .u-gallery-1 {
    height: 2244px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-2 .u-text-1 {
    margin-top: -2307px;
    margin-right: 589px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 371px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 371px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 555px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1979px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1716px;
    width: 540px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
    margin-top: -1779px;
    margin-right: 499px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 191px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 191px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 465px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1343px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1080px;
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    margin-top: -1143px;
    margin-right: 399px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 365px;
  }
}